<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
</head>
<body>
    <!-- variables -->
    {{ value }}<!-- value1 is variable --> <!-- print - display -->
    {{ "Nepal" }}<!-- value1 is variable --> <!-- print - display -->
    {{ 125347 }}<!-- value1 is variable --> <!-- print - display -->

    {{ value|upper }} <!-- filter -->
    {{ value|lower }} <!-- filter -->

    <!-- Templating Language -->
    <!-- variable, looping, controlling, etc -->

    <!-- Tags -->
{% comment %}
<h3>Autoescape</h3>
    Value (org) = {{ value }}
    <br/>
    {% autoescape on %}
        Value = {{ value }}
    {% endautoescape %}
    <br/>
    {% autoescape off %}
        Value = {{ value }}
    {% endautoescape %}

<h3>csrf_token </h3>

<h3>Cycle</h3>
    <p>Fruits</p>
    {% for fruit in value %}
        <li class="{% cycle 'style-1' 'style-2' %}">{{ fruit }}</li>
    {% endfor %}


<h3>firstof</h3>
    {% firstof var1 var2 var3 %}

<h3>filter</h3>
    {% filter lower %}
        <p>{{ var1 }}</p>
    {% endfilter %}

    {% filter upper %}
        <p>{{ var1 }}</p>
    {% endfilter %}

    {% filter force_escape | upper %}
        <p>{{ var1 }}</p>
    {% endfilter %}
{% endcomment %}

<h3>Fruits</h3>
    <p>{{ fruits }}</p>
    {% for fruit in fruits %}
        <p>{{ fruit }}</p>
    {% empty %}
        <p>No items found</p>
    {%  endfor %}

</body>
</html>